.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 450px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
.home {
  background: url("../images/bg_image_mountains.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home h1 {
  margin: 25px 0;
  color: #23293b;
  font-size: 3rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.home h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #23293b;
  font-weight: bold;
  font-size: 1.2rem;
}
.home header {
  margin-top: 30px;
  margin-left: 2rem;
}
.home .buttons {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.home .buttons .button button {
  border: none;
  background: rgba(12, 12, 12, 0.726);
  padding: 20px 3.5rem;
  border-radius: 10px;
}
.home .buttons .button button a {
  color: #e7ecf1;
  font-size: 1.1rem;
}
