/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 450px;
  }
}
header {
  background-image: url("../images/eiffel_tower.jpg");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  height: 100vh;
  z-index: -1;
}
header .navigation {
  display: flex;
  justify-content: space-between;
}
header .navigation img {
  height: 40px;
  width: 40px;
  margin: 0.7rem;
}
header .nav-list {
  display: flex;
  margin-right: 2rem;
}
header .nav-list li {
  margin: 0.7rem;
  padding: 10px 0;
}
header .nav-list li:hover {
  border-bottom: white solid 3px;
  cursor: pointer;
}
header .nav-list a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: calc(100vh - 40px);
  padding: 0 5px;
  background: red;
}
.home {
  background: #e1e3e8;
}
.home .explore {
  margin: 0 auto;
  width: 50%;
}
.home .explore .text-content {
  text-align: left;
}
.home .explore .text-content h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 2rem;
  font-weight: bold;
}
.home .explore .text-content h3 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px 0;
}
.home .explore .explore-widget {
  background-image: url("../images/sections/explore_section.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 250px;
  margin-bottom: 200px;
  border-radius: 10px;
}
.home .explore .explore-widget button {
  border: none;
  background: white;
  padding: 20px 2rem;
  position: relative;
  top: 45%;
  left: 45%;
  border-radius: 10px;
  opacity: 0.8;
}
.home .explore .explore-widget button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
