.home {
  //   background: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin-bottom: 15px;
  }

  header {
    margin-top: 30px;
  }

  .buttons {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
}
