.home {
  background: white;

  .explore {
    margin: 0 auto;
    width: 71%;
    // .test();

    .text-content {
      text-align: left;

      @media @phone {
        text-align: center;

        h3 {
          line-height: 1.5;
        }
      }

      h2 {
        font-family: @fontFam;
        color: #222;
        font-size: 2rem;
        font-weight: bold;
      }

      h3 {
        font-family: @fontFam;
        margin: 20px 0;
      }
    } // end of text content

    .explore-widget {
      background-image: url("../images/sections/explore_section.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      width: 100%;
      .boxshadow();
      // .test();
      height: 250px;
      margin: 0 auto 30px auto;

      border-radius: 3px;

      @media @tablet {
        background-attachment: scroll;
        background-size: 100%;
        margin: 0 auto 10px auto;
        box-shadow: none;
      }

      @media @phone {
        background-attachment: scroll;
        background-size: 100%;
        margin: 0 auto 10px auto;
        box-shadow: none;
      }

      button {
        border: none;
        background: white;
        padding: 20px 2rem;
        position: relative;
        // text-align: center;
        top: 45%;
        left: 45%;
        border-radius: 10px;
        opacity: 0.8;

        @media @tablet {
          top: 40%;
          left: 40%;
        }

        @media @phone {
          top: 35%;
          left: 25%;
        }

        a {
          text-decoration: none;
          color: black;
          font-weight: bold;
          font-family: @fontFam;
        }
      }
    }
  } // end of explore

  .row1 {
    display: flex;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 30px;
    justify-content: space-evenly;

    @media @tablet {
      flex-direction: column;
      width: 100%;
    }

    @media @phone {
      flex-direction: column;
      width: 100%;
      // margin: 0 auto;
    }

    // .test();

    .row-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      width: 55%;
      background: darken(@background-color, 10%);
      border-radius: 2px;
      .boxshadow();
      // .test();

      @media @tablet {
        width: 90%;
        // .test();
        margin: 0 auto;
        box-shadow: none;
      }

      @media @phone {
        width: 55%;
        // .test();
        margin: 0 auto;
        box-shadow: none;
      }

      .text-container {
        // .test();
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 auto;
        width: 80%;

        p {
          text-align: left;
          margin: 10px auto;
          font-family: @fontFam;
          font-size: 0.9rem;
          line-height: 1.5;
        }

        h2 {
          text-align: left;
          // margin: 0 auto;
          color: darken(@section-text-color, 25%);
          font-size: 2rem;
          font-family: @fontFam;
          font-weight: bold;
        }

        button {
          // width: 100px;
          margin: 30px 0;
          padding: 1rem;
          border: none;
          background: darken(@background-color, 30%);
          border-radius: 3px;

          a {
            // margin: 0 auto;
            text-decoration: none;
            color: #333;
            font-weight: 600;
            text-transform: uppercase;
            font-family: @fontFam;
          }
        }
      } // text-container
    } //row-text

    img {
      width: 35%;
      border-radius: 2px;
      .boxshadow();

      @media @tablet {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: none;
      }

      @media @phone {
        width: 65%;
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: none;
      }
    }
  } // end of row1

  .row2 {
    display: flex;
    // flex-direction: row-reverse;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 30px;
    justify-content: space-evenly;

    @media @tablet {
      flex-direction: column;
      width: 100%;
    }

    @media @phone {
      flex-direction: column;
      width: 100%;
      box-shadow: none;
      // margin: 0 auto;
    }

    // .test();

    .row-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      width: 35%;
      background: darken(@background-color, 10%);
      border-radius: 2px;
      .boxshadow();

      @media @tablet {
        width: 90%;
        // .test();
        margin: 0 auto;
        box-shadow: none;
      }

      @media @phone {
        width: 55%;
        // .test();
        margin: 0 auto;
        box-shadow: none;
      }
      // .test();

      .text-container {
        // .test();
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0 auto;
        width: 80%;

        p {
          text-align: left;
          margin: 10px auto;
          font-family: @fontFam;
          font-size: 0.9rem;
          line-height: 1.5;
        }

        h2 {
          text-align: left;
          // margin: 0 auto;
          color: darken(@section-text-color, 25%);
          font-size: 2rem;
          font-family: @fontFam;
          font-weight: bold;
        }

        button {
          // width: 100px;
          margin: 30px 0;
          padding: 1rem;
          border: none;
          background: darken(@background-color, 30%);
          border-radius: 3px;

          a {
            // margin: 0 auto;
            text-decoration: none;
            color: #333;
            font-weight: 600;
            text-transform: uppercase;
            font-family: @fontFam;
          }
        }
      } // text-container
    } //row-text

    img {
      width: 55%;
      border-radius: 2px;
      .boxshadow();

      @media @tablet {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: none;
      }

      @media @phone {
        width: 60%;
        // .test();
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: none;
      }
    }
  } // end of row1
} // end of home
