// Mixins

// Debugging
.test() {
  border: 1px solid red;
}

// Button
.new-btn(@bg:@button-color, @font-color:@button-font-color, @radius: 10px ) {
  background: @bg;
  color: @font-color;
  border-radius: @radius;
  padding: 10px 2rem;
  font-size: 2rem;
  display: inline-block;
  text-align: center;

  &:hover {
    background: @font-color;
    color: @bg;
    cursor: pointer;
  }

  @media @phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 20px auto;
  }
}
