// Mixins

// Debugging
.test() {
  border: 1px solid red;
}

// ------------------------

.boxshadow() {
  -webkit-box-shadow: 20px 34px 75px -38px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 20px 34px 75px -38px rgba(0, 0, 0, 0.61);
  box-shadow: 20px 34px 75px -38px rgba(0, 0, 0, 0.61);
}

.flex(@jc: none, @ai: none, @dir: row) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @dir;
}
