// Variables

//Fonts

@fontFam: Helvetica, Arial, sans-serif;

// Color points

@button-color: @button-black;
@title-color: @ebony-clay;
@button-font-color: @btn-fc;
@background-color: @grayShade;
@section-text-color: @section-t-color;

// Color Vars
@grayShade: #e1e3e8;
@wild-sand: #f6f6f6;
@river-bend: #454a59;
@sea-shell: #f1f1f1;
@ebony-clay: #23293b;
@shuttle-gray: #5e6164;
@porcelain: #f6f7f8;
@waterloo: #81848e;
@btn-bg-color: #22283a;
@border-real: #dee2e6;
@button-black: #32404d;
@btn-fc: #e7ecf1;
@section-t-color: #8f9091;

// Mobile var
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width:800px)";
